## Java

*.class
*.war
*.ear
hs_err_pid*

## GWT
war/
html/war/gwt_bree/
html/gwt-unitCache/
.apt_generated/
html/war/WEB-INF/deploy/
html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/x86/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
gradle-app.setting
build/

## OS Specific
Thumbs.db
.DS_Store

### Project specific ###

# NetBeans #
/projects/BazaarWeb/nbproject/private/
/projects/BazaarWeb/build/
/projects/BazaarWeb/dist/
projects/BazaarWeb/nbproject/build-impl.xml
projects/BazaarWeb/nbproject/ant-deploy.xml
projects/BazaarWeb/nbproject/genfiles.properties
projects/BazaarWeb/nbbuild.xml
projects/BazaarWeb/nbproject/project.xml
projects/BazaarWeb/nbproject/project.properties
*/build.xml
projects/BazaarWeb/web/WEB-INF/glassfish-web.xml

*.orig